<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Bookstore App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="./css/styles.css"  th:href="@{./css/styles.css}">
    </head>
    <body>
        <h1>Editing book</h1>
        <div>
            <form th:object="${book}" action="#" th:action="@{/addbook}" method="post" class="submission-form">
                <label for="id"></label>
                <input type="hidden" id="id" th:field="*{id}" readonly="readonly"/>
                <label for="title">Title</label> <input type="text" th:field="*{title}">
                <label for="author">Author</label> <input type="text" th:field="*{author}">
                <label for="year">Year</label> <input type="text" th:field="*{year}">
                <label for="isbn">ISBN</label> <input type="text" th:field="*{isbn}">
                <label for="price">Price</label> <input type="text" th:field="*{price}">
                <select th:field="*{category}">
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"/>
                </select>
                <input type="submit" value="Submit" class="addBtn"/>
            </form>    
        </div>
    </body>
</html>
